@inherits LayoutComponentBase

<h1>Blazor Example - Navigation</h1>

<nav>
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="/test">Test</NavLink></li>
    </ul>
</nav>

<main>
    @Body
</main>