<p>Current count: @_count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _count;

    private void IncrementCount()
    {
        _count++;
    }
}
