<div>
    <div>
        <label>What's your name?</label>
    </div>
    <div>
        <input type="text" @bind-value="_name" @bind-value:event="oninput" placeholder="Bob"/>
    </div>
    
    @if (!string.IsNullOrEmpty(_name))
    {
        <div>
            <span>Hello @_name</span>
        </div>
    }
</div>

@code
{
    private string _name;
}